.popularDestination {
  padding: 5px;
  padding-top: 40px;
}
.popularDestination__container {
  display: flex;
  justify-content: space-between;
}
.popularDestination__container-title h3 {
  font-size: 15px;
  font-weight: 700;
  color: #085fb0;
  cursor: pointer;
}
.popularDestination__innerContentSection {
  display: flex;
  overflow-x: scroll;
  /* white-space: nowrap; */
  gap: 20px;
  padding: 20px 20px;
}
.popularDestination__innerContentSection::-webkit-scrollbar {
  /* To Hide Scrollbar */
  display: none;
}

.PopularDestination_Img {
  position: relative;
  flex: 0 0 auto;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.PopularDestination_Img img {
  width: 100%;
  height: auto;
}

.PopularDestination_Img-InnerContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay to make text more readable */
  color: white;
}

.left-content {
  text-align: left;
}

.right-content {
  text-align: right;
  margin-right: 15px;
}
